@media (max-width: 767px) {
    .botao-logout-mobile {
        color: #dc3545 !important;
    }
}

.corpo-login-inicial {
    border-radius: 5px;
    border-top: 3px solid #00A65A;
}

.box.box-primary {
    border-top-color: #00A65A;
}

.sidebar-menu li a {
    padding: 15px 10px !important;
    background-color: #00A65A !important;
    color: white;
}

.sidebar-menu li.active a:hover,
.sidebar-menu li a:hover {
    background-color: #55c691 !important;
}

.input-radio-prioridade {
    padding: 0.5rem 1rem !important;
    border-radius: 100px !important;
    color: white;
    font-weight: bolder !important;
    margin-right: 2rem !important;
}

.content-agenda-pessoal {
    width: 60% !important;
}

.drop-menu-item-top {
    background-color: #00a65a;
    margin-top: -1px;
    text-align: center;
    border: none;
}

.drop-menu-item-top a {
    color: white !important;
}

.drop-menu-item-top li {
    text-align: left !important;
}

.drop-menu-item-top li:hover {
    background-color: #55c691 !important;
}

.drop-menu-mobile:focus {
    border: none !important;
}

.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
    border-color: #55c69100;
}

.breadcrumb-fp {
    background-color: #ECF0F5 !important;
    padding: 0 !important;
}

.breadcrumb-fp a {
    color: #00A65A !important;
}

.breadcrumb-fp li {
    font-size: 1.5rem !important;
}

.box .box-primary,
.box {
    /* width: 80% !important; */
    margin: 50px auto !important;
}

.menu-top-navbar {
    display: inline-block !important;
}

.dataTables_filter input[type=search] {
    border: 2px solid #33333366 !important;
    border-radius: 10px !important;
    padding: 5px;
}

.dataTables_filter input[type=search]:focus {
    outline: none !important;
}

.dataTables_wrapper select {
    background-color: #fff;
    padding: 2.5px;
}

.dataTables_wrapper select:focus {
    outline: none !important;
}

.criar-unidade {
    width: 60%;
}

.select-unifp select {
    background-color: #fff;
    padding: 5px;
}

.formulario-padrao {
    width: 70%;
    margin: 1rem auto;
}

.select-conheceu select {
    background-color: #fff;
    width: 50%;
    padding: 5px;
}

.campo-texto-agenda {
    margin: 10px 0;
}

.criar-aluno {
    width: 70%;
    margin: 0 auto;
}

.nav-tabs-custom>.nav-tabs>li.active {
    border-top-color: #00A65A;
}

#formulario-lancamentos div {
    display: inline-block;
}

#formulario-lancamentos select {
    background-color: #fff;
    padding: 3px;
}

.receitas {
    margin: 0;
    display: inline-block;
    padding: 2rem;
    font-size: 1.75rem
}

.select-padrao {
    font-weight: bold
}

.select-padrao select {
    padding: 5px;
    background-color: #fff;
    font-weight: 500
}

.botao-mais:hover {
    background-color: #ddd !important;
}

@media (max-width: 425px) {
    .content-agenda-pessoal {
        width: 100% !important;
    }
    .mobile-input-largura {
        width: 15rem !important;
    }
    textarea.mobile-input-largura {
        height: 8rem !important;
    }
    .agenda-input-hora {
        display: none !important;
    }
    .drop-menu-item-top {
        text-align: left !important;
        margin-left: 2rem !important;
    }
    .menu-top-navbar {
        display: list-item !important;
    }
    .box {
        width: 100% !important;
    }
    .formulario-padrao {
        width: 90%;
        margin: 1rem auto;
    }
    .campo-texto-agenda {
        margin: 10px 15px;
    }
    .criar-aluno {
        width: 100%;
        margin: 0 auto;
    }
    #formulario-lancamentos div {
        display: block;
        margin: 1rem 0 !important;
    }
}

@media (min-width: 426px) {
    @media (max-width: 1024px) {
        .content-agenda-pessoal {
            width: 90% !important;
        }
        .mobile-input-largura {
            width: 25rem !important;
        }
        textarea.mobile-input-largura {
            height: 8rem !important;
        }
        .box {
            width: 100% !important;
        }
        .criar-aluno {
            width: 90%;
            margin: 0 auto;
        }
    }
}